<div id={{id}}>
  <img src="{{avatar}}" alt="">
  
  <h5>{{title}} | <span>{{author}}</span></h5>
  <p>{{content}}</p>
  <span class='destroy' data-id={{id}}>Delete</span>
  <span class='edit'>Edit</span>
</div>